<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.library.mapper.KindMapper">

    <resultMap id="BaseResultMap" type="com.niit.library.domain.Kind">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,category
    </sql>

    <select id="isBorrowBook" resultType="java.lang.Integer">
        select count(*)
        from kind c
                 join book b
                      on c.id = b.category_id
                 join borrow l
                      on b.id = l.book_id
        where c.id = #{id}
    </select>

    <select id="getMaxOrder" resultType="java.lang.Integer">
        select order_by from kind
        order by order_by desc
        limit 1
    </select>


</mapper>
